# Editors
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.pyc
**/*.class

# Git
**/.git*

# Logs
**/*.log

# Environments
**/.env*
**/.venv*
**/env
**/venv

# Project
**/tests
**/fixtures
**/*.http
**/http-client*
dev*
